
/* 这是banner区域开始 */
.banner {
    width: 100%;
    height: 253px;
    background: url(../images/images4/aboutbanner.jpg) center 0;
    margin: 0 auto;
}
/* 这是banner区域结束 */
/* 这是content区域开始 */
 .content {
    width: 1006px;
    height: 880px;
    margin: 0 auto;

}

.content .top {
    width: 1006px;
    height: 52px;
    border-bottom: 1px solid #c7d6e5;

}

.content .top .game-log {
    display: block;
    width: 33px;
    height: 35px;
    background: url(../images/images2/game.png) no-repeat;
    float: left;
    margin-top: 10px;

}

.content .top h1 {
    width: 150px;
    background: url(../images/images3/location.png) no-repeat 1px -32px;
    height: 52px;
    font: 18px/52px "microsoft yahei";
    float: left;
    padding-left: 28px;

}

.content .top .home-log {
    display: block;
    float: left;
    width: 33px;
    height: 35px;
    background: url(../images/images2/home.png) no-repeat;
    margin-left: 654px;
    margin-top: 10px;
}

.content .top ul {
    float: right;
    height: 52px;
    width: 150px;
    font: 13px/52px 'microsoft yahei';
    margin-right: -11px;

}

 .content .top ul li {
    float: left;
    width: 75px;
    position: relative;
    text-align: center;

}

.content .top ul li .arrow-log {
    display: block;
    position: absolute;
    top: 22px;
    width: 4px;
    height: 8px;

    background: url(../images/images2/jt.png)no-repeat -3px -4px;
}

 .content .mid .left {
    float: left;
    width: 230px;
    height: 500px;


}


.content .mid .left ul {
    margin-top: 41px;
    font: 14px 'microsoft yahei';
}

.content .mid .left ul li {
    height: 80px;
    line-height: 80px;
    text-indent: 1em;
    border-bottom: 1px solid #cad6e1;

}
.content .mid .left ul h3{
    margin-left: -15px;
}
 .content .mid .left ul li a:hover {
    color: #38b774;
}




.content .mid .left ul li a {
    text-decoration: none;
    color: #444866;
    width: 100px;
    position: relative;

}

.content .mid .left ul li a span {
    position: absolute;
    left: -29px;
    top: 22px;
    display: block;
    width: 100px;
    height: 20px;



}

 .content .mid .right {
    float: left;
    width: 732px;
    height: 770px;
    margin-left: 30px;
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;


}
.content .mid .right .right-move{
    width: 732px;
    height:4000px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content .mid .right .right-move ul li{
    width: 732px;
    height: 770px;
}
 .content .mid .right p{
    width: 732px;
   
    font: 13.9px "microsoft yahei";
    margin-bottom: 30px;
 
    line-height: 31px;

 

}
/* 这是content区域结束 */

